# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.html
coverage.txt
*.out

/bin/
/lint-project.sh
/gitleaks.tar.gz
misspell*
staticcheck*
*.xml
/pkg/models/AccountReportingRequest/generated
/pkg/models/ActivityReport/generated
/pkg/models/BusinessApplicationHeader/generated
/pkg/models/ConnectionCheck/generated
/pkg/models/CustomerCreditTransfer/generated
/pkg/models/DrawdownRequest/generated
/pkg/models/DrawdownResponse/generated
/pkg/models/EndpointDetailsReport/generated
/pkg/models/EndpointGapReport/generated
/pkg/models/EndpointTotalsReport/generated
/pkg/models/FedwireFundsAcknowledgement/generated
/pkg/models/FedwireFundsBroadcast/generated
/pkg/models/FedwireFundsPaymentStatus/generated
/pkg/models/FedwireFundsSystemResponse/generated
/pkg/models/FinancialInstitutionCreditTransfer/generated
/pkg/models/InvestRequest/generated
/pkg/models/InvestResponse/generated
/pkg/models/Master/generated
/pkg/models/PaymentReturn/generated
/pkg/models/PaymentStatusRequest/generated
/pkg/models/RetrievalRequest/generated
/pkg/models/ReturnRequest/generated
/pkg/models/ReturnRequestResponse/generated